.container {
    width: 80%;
}

.header {
    font-size: large;
}

.form-group-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 600px;
}
