<div *ngIf="account$ | async as account">
  {{account.benutzername}}

  <div *ngIf="arbeiter$ | async as arbeiter">
    <h4>Arbeiter</h4>
    <div *ngFor="let arbeit of arbeiter">
      <div class="arbeiter">
        <div class="arbeiter-card">
          <div class="arbeiter-card-item">
            Name: {{arbeit.name}}
          </div>
          <div class="arbeiter-card-item">
            Auftrag: {{arbeit.auftrag.nummer}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="auftraege$ | async as auftraege">
    <h4>Aufträge</h4>
    <div *ngFor="let auftrag of auftraege">
      <div class="arbeiter">
        <div class="arbeiter-card">
          <div class="arbeiter-card-item">
            Auftragsnummer: {{auftrag.nummer}}
          </div>
          <div class="arbeiter-card-item">
            Bezeichnung: {{auftrag.bezeichnung}}
          </div>
          <div class="arbeiter-card-item">
            Dauer: {{auftrag.dauer}} Tage
          </div>
        </div>
      </div>
    </div>
    <button mat-flat-button class="arbeiter-button" (click)="downloadCsv()">Auftragsliste als csv Datei herunterladen</button>
  </div>
</div>