<div class="container">
    <h4>Arbeiter hinzufügen</h4>
    <form [formGroup]="anmeldeForm" (submit)="submit()">
      <div class="form-group-flex">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <input matInput type="tel" placeholder="Telefonnummer" formControlName="tel">
          </mat-form-field>


        <mat-form-field appearance="outline">
            <input matInput type="number" placeholder="Gehalt" formControlName="gehalt">
          </mat-form-field>

        <div>
          <button mat-flat-button type="submit">Arbeiter hinzufügen</button>
        </div>
      </div>
    </form>
  </div>
  